html, body {
  position: relative;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Comic Sans MS", sans-serif;
  font-size: 1.125rem;
}

// Exemples de personnalisation du style
$cookie-banner-bg: #0c9f9b;
$cookie-banner-color: #fff;
$cookie-banner-paragraph-color: #fff;
$cookie-banner-link-color: #09f6ef;
$cookie-banner-accept-color: #1bda14;
$cookie-banner-refuse-color: #9114da;
$cookie-banner-chocolate-color: #1e1d02;
$cookie-banner-biscuit-color: #dad714;
