$cookie-banner-zindex:          10500 !default;
$cookie-banner-bg:              #fff !default;
$cookie-banner-color:           #111 !default;
$cookie-banner-paragraph-color: #333 !default;
$cookie-banner-font-size:       1.125rem !default;
$cookie-banner-font-family:     'SF Pro', sans-serif !default;
$cookie-banner-link-color:      #3C61F3 !default !default;
$cookie-banner-padding:         40px !default;
$cookie-banner-margin-x:        40px !default;
$cookie-banner-margin-y:        40px !default;
$cookie-banner-shadow:          rgba(0, 0, 0, 0.1) 0 0 15px 0 !default;

$cookie-banner-accept-color:    #4bd350 !default;
$cookie-banner-refuse-color:    #ff3f3f !default;
$cookie-banner-biscuit-color:   #edc995 !default;
$cookie-banner-chocolate-color: #5f3c34 !default;

#cookieBanner {
    position: fixed;
    bottom: $cookie-banner-margin-y;
    left: $cookie-banner-margin-x;
    z-index: $cookie-banner-zindex;
    width: 600px;

    #cookieBannerWrapper {
        padding: $cookie-banner-padding;
        font-family: $cookie-banner-font-family;
        background-color: $cookie-banner-bg;
        box-shadow: $cookie-banner-shadow;

        h6 {
            color: $cookie-banner-color;
            font-size: 1.5rem;//$cookie-banner-font-size * 1.5;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0.5rem;
        }

        p {
            color: $cookie-banner-paragraph-color;
            font-size: $cookie-banner-font-size;
            margin-bottom: 2rem;
            margin-top: 0;
        }

        a {
            color: $cookie-banner-link-color;
            text-decoration: none;
            font-weight: 500;
        }

        .cookie-btn-wrapper {
            display: flex;
            justify-content: flex-start;

            &>div {
                display: flex;
            }
        }

        .cookie-btn {
            padding-right: 40px;
            font-weight: 500;
            font-size: $cookie-banner-font-size;
            display: flex;
            align-items: center;
            gap: 7px;
            color: $cookie-banner-color;
        }

        #CheckCircle {
            fill: $cookie-banner-accept-color;
        }

        #CrossCircle {
            fill: $cookie-banner-refuse-color;
        }

        #Biscuit {
            fill: $cookie-banner-biscuit-color;
        }

        #Chocolat {
            fill: $cookie-banner-chocolate-color;
        }

        .close {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            width: 1rem;
            height: 1rem;
            color: $cookie-banner-color;
            font-size: 1.5rem;

            &::after {
                content: "✕";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }
}

// Mobile responsive
@media (max-width: 767.98px) {
    #cookieBanner {
        bottom: 0;
        left: 0;

        width: calc(100vw - (100vw - 100%));

        .cookie-btn-wrapper {
            flex-direction: column;
        }

        #cookieCustomize {
            margin-top: 1.25rem;
        }
    }
}
